In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [ ]:
path = "/home/sistemas/m/octavo/dataset/sales-ds.csv"
df = pd.read_csv(path, parse_dates=['Date'], dayfirst=True)#, index_col = "Date")

In [76]:
df.sort_values(by='Date',ascending=True, inplace=True)
df.head()

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
16451       2    49 2010-02-05      15767.00      False
278237     29     9 2010-02-05       4419.73      False
278380     29    10 2010-02-05       7550.67      False
278523     29    11 2010-02-05       6964.21      False

In [81]:
df_segme = df.groupby(['Store','Dept'])["Weekly_Sales"].sum().reset_index()
df_segme

      Store  Dept  Weekly_Sales
0         1     1    3219405.18
1         1     2    6592598.93
2         1     3    1880518.36
3         1     4    5285874.09
4         1     5    3468885.58
...     ...   ...           ...
3326     45    94     494496.46
3327     45    95    7564151.83
3328     45    96          5.94
3329     45    97     924775.55
3330     45    98      75767.27

[3331 rows x 3 columns]

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB

In [ ]:
df..sort_values(by="Date",inplace=True)

df_organi = df.groupby(['Dept','Weekly_Sales']).sum()
df_organi.head()

                   Store  IsHoliday
Dept Weekly_Sales
1    711.11           33          0
     732.58           33          0
     765.00           33          0
     853.09           33          0
     912.81           33          0